body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {


margin-right: 30px;
}
button{
  background-color: rgb(228, 228, 235);
  color: red;
  text-transform: uppercase;
}
